$color-primary-light-green: #7ed56f;
$color-primary-medium-green: #55c57a;
$color-primary-dark-green: #28b485;

// card colors
$color-secondary-yellow-1: #ffb900;
$color-secondary-yellow-2: #ff7730;

$color-secondary-blue-1: #2998ff;
$color-secondary-blue-2: #5643fa;


$color-white: #fff;
$color-black: #000;
$color-grey-0: #f7f7f7;
$color-grey-1: #777;
$color-grey-2:#eee;
$color-grey-3: #999;
$color-grey-4: #333;



$font-family-primary: "lato", sans-serif;
$spacing: 0.875rem;
$transition: all 0.2s;

// font
$default-font-size: 1rem;


// grid Vriables
$grid-width: 100%;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3.5rem;
$gutter-horizontal: 4rem;